:root {
  --bs-primary-rgb: 26, 97, 173;
  --bs-primary: #1c62ad;
  --bs-navbar-active-color: white;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: #15508c;
}

#root {
  min-height: 100vh;
}